### Задание 1

Даны значения зарплат из выборки выпускников:

100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150

Используя только встроенные питоновские функции и структуры данных (т.е. без библиотек numpy, pandas и др.) посчитать среднее арифметическое, выборочную дисперсию, среднее квадратичное отклонение для данной выборки.

Можно затем посчитать те же значения с использованием библиотек, чтобы проверить себя.

In [1]:
salary = [100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 230, 24, 57, 55, 70, 75, 65, 84, 90, 150]

In [2]:
salary_mean = sum(salary) / len(salary)

print('Среднее арифметическое =', salary_mean)

Среднее арифметическое = 73.14285714285714

In [3]:
salary_var = sum((item - salary_mean) ** 2 for item in salary) / (len(salary) - 1)

print('Выборочная дисперсия =', salary_var)

Выборочная дисперсия = 2241.8285714285716

In [4]:
salary_dev = pow(salary_var, 0.5)

print('Среднеквадратичное отклонение =', salary_dev)

Среднеквадратичное отклонение = 47.34795213553139

In [5]:
import numpy as np

In [6]:
np.mean(salary)

73.14285714285714

In [7]:
np.var(salary, ddof=1)

2241.828571428571

In [8]:
np.std(salary, ddof=1)

47.347952135531386

### Задание 2

Для выборки из задачи 1 найти (также без использования библиотек):
1. медиану, первый и третий квартили, интерквартильное расстояние,
2. выбросы в выборке (используя для этого метод как при построении "усов" из boxplot).

Возможные неоднозначности в вычислении квантилей можно разрешать любым способом.

In [9]:
salary_sorted = sorted(salary)

salary_median = salary_sorted[len(salary_sorted) // 2]

print('Медиана =', salary_median)

Медиана = 70

In [10]:
len(salary_sorted) % 4

1

In [11]:
salary_1st_quart = salary_sorted[len(salary_sorted) // 4]

print('Первый квартиль =', salary_1st_quart)

Первый квартиль = 45

In [12]:
salary_3rd_quart = salary_sorted[3 * len(salary_sorted) // 4]

print('Третий квартиль =', salary_3rd_quart)

Третий квартиль = 84

In [13]:
salary_iqr = salary_3rd_quart - salary_1st_quart

print('Интерквартильное расстояние =', salary_iqr)

Интерквартильное расстояние = 39

In [14]:
salary_range = (salary_1st_quart - 1.5 * salary_iqr, salary_3rd_quart + 1.5 * salary_iqr)

salary_range

(-13.5, 142.5)

In [15]:
salary_outliers = [item for item in salary_sorted if item < salary_range[0] or item > salary_range[1]]

print('Выбросы в выборке:', salary_outliers)

Выбросы в выборке: [150, 230]

In [16]:
np.median(salary_sorted)

70.0

In [17]:
np.quantile(salary_sorted, [0.25, 0.75])

array([45., 84.])

In [18]:
np.quantile(salary_sorted, 0.75) - np.quantile(salary_sorted, 0.25)

39.0

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(salary)

df.describe()

                0
count   21.000000
mean    73.142857
std     47.347952
min     17.000000
25%     45.000000
50%     70.000000
75%     84.000000
max    230.000000

In [21]:
q1, q3 = df[0].quantile([0.25, 0.75])
iqr = q3 - q1
q1 - 1.5 * iqr, q3 + 1.5 * iqr

(-13.5, 142.5)

In [22]:
df.loc[(df[0] < q1 - 1.5 * iqr) | (df[0] > q3 + 1.5 * iqr)]

      0
11  230
20  150

### Задание 3

В университет на факультет A поступило 100 человек, на факультет B - 90 человек и на факультет C - 45 человек. Вероятность того, что студент с факультета A сдаст первую сессию, равна 0.6. Для студента с факультета B эта вероятность равна 0.7, а для студента с факультета C - 0.8. Случайным образом выбирается студент, сдавший первую сессию. Какое событие наиболее вероятно:
1. студент учится на факультете A,
2. студент учится на факультете B,
3. студент учится на факультете C?

Пусть событие $A$ - принадлежность факультету, событие $B$ - успешная сдача сессии:

$$P(A|B) = \dfrac{P(B|A) \cdot P(A)}{P(B)}$$

$P(B|A_A)$ = 0.6;
$P(B|A_B)$ = 0.7;
$P(B|A_C)$ = 0.8

$P(A_A)$, $P(A_B)$, $P(A_C)$:

In [23]:
A = 100
B = 90
C = 45

all = A + B + C

P_A_A = A / all
P_A_B = B / all
P_A_C = C / all

$P(B)$:

In [24]:
P_B = 0.6 * P_A_A + 0.7 * P_A_B + 0.8 * P_A_C

$P(A_A|B)$:

In [25]:
0.6 * P_A_A / P_B

0.3773584905660377

$P(A_B|B)$:

In [26]:
0.7 * P_A_B / P_B

0.39622641509433965

$P(A_C|B)$:

In [27]:
0.8 * P_A_C / P_B

0.22641509433962265

In [28]:
print('Наиболее вероятно, что студент, сдавший первую сессию, учится на факультете B')

Наиболее вероятно, что студент, сдавший первую сессию, учится на факультете B